@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  del {
    @apply no-underline relative after:w-full after:h-[3px] after:scale-x-110 after:border-white after:border-[1px] after:bg-red-400 after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:left-0 after:-rotate-12;
  }
  h1 {
    @apply text-4xl font-bold md:text-5xl lg:text-6xl 2xl:text-7xl;
  }
  h2 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl 2xl:text-6xl;
  }
  h3 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl 2xl:text-5xl;
  }
  h4 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl 2xl:text-4xl;
  }
  h5 {
    @apply text-lg font-bold md:text-xl lg:text-2xl 2xl:text-3xl;
  }
  h6 {
    @apply text-base font-bold md:text-lg lg:text-xl xl:text-2xl;
  }
  p {
    @apply text-base lg:text-lg 2xl:text-xl;
  }
  small {
    @apply text-xs md:text-sm;
  }
}

@layer utilities {
  .px {
    @apply px-4 sm:px-8 md:px-16 lg:px-28 xl:px-40;
  }
  @media (min-width: 1280px) {
    .px {
      @apply px-[calc(50%-1120px/2)];
    }
  }
  .py {
    @apply py-8 md:py-10 2xl:py-20;
  }
  .py-sm {
    @apply py-3 md:py-6 2xl:py-8;
  }
  .py-md {
    @apply py-6 md:py-12 2xl:py-16;
  }
  .py-lg {
    @apply py-10 md:py-20 2xl:py-28;
  }
  .px-xs {
    @apply px-2 md:px-4;
  }
  .px-sm {
    @apply px-3 md:px-6 2xl:px-8;
  }
  .px-md {
    @apply px-6 md:px-8 lg:px-12 2xl:px-14;
  }
  .px-lg {
    @apply px-6 md:px-12 lg:px-14 2xl:px-16;
  }
  .px-xl {
    @apply px-10 md:px-20 lg:px-24 2xl:px-28;
  }
  .p-xs {
    @apply p-2 md:p-4;
  }
  .p-sm {
    @apply p-3 md:p-6 2xl:p-8;
  }
  .p-md {
    @apply p-6 md:p-8 lg:p-12 2xl:p-14;
  }
  .p-lg {
    @apply p-6 md:p-12 lg:p-14 2xl:p-16;
  }
  .p-xl {
    @apply p-10 md:p-20 lg:p-24 2xl:p-28;
  }
  .gap-xs {
    @apply gap-2;
  }
  .gap-sm {
    @apply gap-4;
  }
  .gap-md {
    @apply gap-6;
  }
  .gap-lg {
    @apply gap-8;
  }
  .gap-xl {
    @apply gap-10;
  }
  .bg-gradient {
    @apply bg-gradient-to-br from-primary to-secondary;
  }
  .text-gradient {
    @apply bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent;
  }
  .scroll-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-none::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  input,
  select {
    @apply w-full rounded-lg bg-light p-2 px-4 text-dark/80 accent-primary;
  }
  .btn {
    @apply inline-block cursor-pointer select-none whitespace-nowrap rounded-lg p-2 px-4 transition-transform hover:scale-105 disabled:cursor-not-allowed disabled:bg-dark/50 disabled:text-light disabled:hover:scale-100;
  }
  .btn-p {
    @apply btn bg-dark/5 text-dark/80 hover:bg-primary hover:text-white;
  }
  .btn-p-light {
    @apply btn bg-transparent text-dark/50 hover:bg-primary/5 hover:text-primary;
  }
  .btn-s {
    @apply btn bg-dark/5 text-dark/80 hover:bg-secondary hover:text-white;
  }
  .btn-light {
    @apply btn bg-light text-dark/80;
  }
  .link {
    @apply w-fit hover:text-primary hover:underline;
  }
  .icon-sm {
    @apply my-auto h-4 w-4 select-none;
  }
  .icon {
    @apply my-auto h-5 w-5 select-none;
  }
  .icon-btn{
    @apply hover:bg-light/50 cursor-pointer h-6 w-6 rounded bg-light p-1;
  }
}
